body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  p {
    margin: 1em 0;
  }
  
  #guessInput {
    width: 3em;
  }
  
  #guessButton {
    margin-left: 0.5em;
  }
  
  #result {
    font-weight: bold;
    margin-top: 2em;
  }
  
  #attempts {
    margin-top: 0.5em;
  }

  #restart-button {
    display: none;
    margin: auto;
  }